.list {
  width: 50%;
  list-style: none;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 110px;
    margin-top: 20px;
    padding: 10px 40px;
    border: 1px solid #bbb;
    border-radius: 20px;
    :nth-last-child(3) {
      color: #0366d6;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.language {
  display: flex;
  align-items: center;
  &__color {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 10px;
  }
}
.loader {
  margin: 200px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
